@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    color: white;
}

[data-theme='light'] {
    background: linear-gradient(to right, #85B3FF, #C19DFF); /* Couleurs plus douces */
    color: black;
}