@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
    background: linear-gradient(to right, #3b82f6, #8b5cf6);
    color: white;
}

[data-theme='light'] {
    background: linear-gradient(to right, #4F83FF, #A66DFF);
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    z-index: 10; 
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1em;
}

button.create {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    background: #2563EB;
    justify-content: center;
    margin-top: 1em;
}

button.join {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    background: #00bd0d;
}

.card.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

p.description {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.by {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}